/DH0/s/startup-sequence
/DH0/T/
/ToolChain/AmigaKlangGUI/exe_creator/obj/*.d
/ToolChain/AmigaKlangGUI/exe_creator/obj/*.o
/ToolChain/AmigaKlangGUI/exe_creator/exemusic.bin
/ToolChain/AmigaKlangGUI/exe_creator/Isamp.raw
/ToolChain/AmigaKlangGUI/exe_creator/a.mingw.*
/ToolChain/AmigaKlangGUI/exe_creator/empty.mod
/ToolChain/AmigaKlangGUI/exe_creator/i*.h
/ToolChain/AmigaKlangGUI/exe_creator/exemusic.exe
/ToolChain/AmigaKlangGUI/exe_creator/exemusic.zip
/ToolChain/AmigaKlangGUI/exe_creator/support/Iswitch.h
/ToolChain/AmigaKlangGUI/exe_creator/*.akl.bin
/ToolChain/AmigaKlangGUI/exe_creator/*.akl.raw
/ToolChain/Grafx2/bin/stderr.txt
/ToolChain/Grafx2/bin/stdout.txt
/ToolChain/EASy68K/untitled1.*
/WinUAE/winuaebootlog.txt
/WinUAE/winuaelog.txt
/WinUAE/Configurations/_Temp.UAE
/WinUAE/Configurations/configuration.cache
/WinUAE/Configurations/configuration.backup
/WinUAE/*.dmp
*.L68
*.S68

.vs
